
.about-grid {
    display: grid; 
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
    gap: 8rem;
    padding: 4rem;
}

.a-col1 {
    width: 500px;
}

.a-col1 p {
    text-align: left;
    font-family: "DM Sans";
    font-size: 16px;

}

.a-col2{
    display: flex;
    flex-direction: column;
}

.a-col2 h3::before {
    content: "";
    display: inline-block;
    background-color: #ed9ab6;
    width: 20px;
    height: 20px;
    margin-right: 1rem;
    vertical-align: middle;
  }

.a-col2 p {
    text-indent: 50px;

}
