
.landing-container {
  width: 80%; /* Adjust width as needed */
  max-width: 1200px; /* Keeps it responsive */
  margin: 0 auto; /* Centers the content */
}

/*

.hero-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  margin: auto;
  padding: 20px;
} */
  
.hero-section,
.project-section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 60px 0;
  gap: 1rem;
}


.cube-wrapper {
  flex-shrink: 0; /* Prevents shrinking */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube {
	animation: rotate 7000ms linear infinite;
	bottom: 0;
	height: 50px;
	left: 0;
	margin: auto;
	transform-style: preserve-3d;
	right: 0;
	top: 0;
	width: 50px;
}

@keyframes rotate {
	100% {
		transform: rotateY(360deg) rotateX(720deg) rotateZ(1080deg);
	}
}

.face {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.front {
	background: #B14A60;
	transform: translateZ(25px);
}

.back {
	background: #BE6679;
	transform: translateZ(-25px);
}

.left {
	background: #CB8192;
	transform: translateX(-25px) rotateY(90deg);
}

.right {
	background: #D79DAA;
	transform: translateX(25px) rotateY(90deg);
}

.top {
	background: #E4B8C3;
	transform: translateY(-25px) rotateX(90deg);
}

.bottom {
	background: #F1D4DC;
	transform: translateY(25px) rotateX(90deg);
}

/* Text Content */

.hero-text,
.project-text {
  flex: 1;
  max-width: 90%;
}

.project-text h2 {
  margin: 0;
  
}

.project-text p{
  font-size: 14px;
}


.hero-section {
  font-family: 'Jetbrains Mono';
  display: flex;
  align-items: center; /* Aligns the cube & text vertically */
  justify-content: flex-start; /* Keeps content aligned to the left */
  gap: 3rem; /* Ensures space between cube & text */
  width: 100%;
}


.hero-section h1 {
  font-size: 24px;
  font-weight: bold;
}

.hero-section p {
  font-size: 14px;
  color: #555;
}


 

.p1-btn {
  background-color: #fff7fa;
  border-radius: 3px;
  border: 1px solid #DA627D;
  box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #DA627D;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
}

.p1-btn:hover,
.p1-btn:focus {
  background-color: #f7e4ea;
  color: #DA627D;
}

.p1-btn:active {
  background-color: #f7e4ea;
  box-shadow: none;
  color: #DA627D
}


  .img1 {
    width: 50%;
    margin-left: auto;
  }
  

  .img2 {
    width: 30%;
    margin-right: auto;
  }
  
  .p2-description {
    margin-left: auto;
  }
  