
.nav-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
    color: #454545;
    font-size: 1rem;
    padding-right: 1rem;
}

.ul-grid {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}


ul a{
    color: #454545;
    padding: 1rem;
    text-decoration: none;
}

ul a:hover{
    color: #ED9AB6;
    -webkit-transition: 200ms;
}

ul a:focus{
    color: #ED9AB6;
    -webkit-transition: 200ms;
}

