.case-study {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.case-study-title {
  color: #151515;
  font-size: 24px;
  font-weight: bold;
  padding: 1rem;
  text-align: center;
}

.case-study-image {
  width: 100%;
  height: 500px;
  margin-top: 1rem;
}

.case-study-description {
  margin-top: 1rem;
  font-size: 1rem;
  color: #333;
}

.case-study-heading {
  margin-top: 2rem;
  font-size: 24px;
}

.case-study-table {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  text-align: left;
}

.table-column {
  flex: 1;
  padding: 1.5rem;
}

.problem {
  background-color: #ffffff;
  border-radius: 1rem;
}

.solution {
  background-color: #f3bfcb;
  color: white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.design-section {
  width: 100vw;
  background-color: #f5f8fa;
  padding: 4rem 2rem;
  margin-left: calc(-50vw + 50%);
}

body {
  overflow-x: hidden;
}

.design-text {
  margin: 0 auto;
  max-width: 900px;
}

  

  .btn-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
  }
  
  /* .btn-container button {
    background-color: white;
    font-size: 16px;
    padding: 1rem;
    width: 150px;
    font-family: 'DM Sans';
    margin: 0 10px;
    border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ed9ab6;;    
	border-radius: 3rem;
  } */

  .btn-container button {
    background-color: #fff7fa;
    border-radius: 3px;
    border: 1px solid #DA627D;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    box-sizing: border-box;
    color: #DA627D;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    outline: none;
    margin: 0 1rem;
    padding: 8px .8em;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
  }
  

  .btn-container button:hover{
    background-color: #f7e4ea;
    color: #DA627D;
  }

  .btn-container button:focus{
    background-color: #ed9ab6;
    color: white;
  }

/* General Mobile Styling */
@media (max-width: 768px) {

  .case-study {
    padding: 1.5rem;
  }

  .case-study-title {
    font-size: 20px;
    padding: 0.5rem;
  }

  .case-study-image {
    height: auto; /* Allow image to scale naturally */
  }

  .case-study-description {
    font-size: 14px;
  }

  .case-study-heading {
    font-size: 20px;
    margin-top: 1.5rem;
  }

  /* Table: Stack columns vertically */
  .case-study-table {
    flex-direction: column; /* Stack items instead of side-by-side */
  }

  .table-column {
    padding: 1rem;
  }

  /* design Section */
  .design-section {
    width: 100%;
    padding: 2rem 2.5rem;
    margin: 0; /* Remove any extra margins */
    margin-left: -35px;
  }

  .revimg {
    max-width: 100%;
    height: auto;
    display: block;
  }

}



